body {
  background-image: url('sand.jpg');
  background-size: cover;
}

.rectangle {
  width: 80%;
  height: 120px;
  background-image: url('wood.jpg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
}